.popup__title {
  max-width: 330px;
  font-weight: 900;
  font-size: 24px;
  line-height: 2.9;
  color: black;
  margin: 14px 0 24px 36px;
}

@media (max-width: 766px) {
  .popup__title {
    max-width: 238px;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 25px 0 70px 22px;
  }
}
